@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: linear-gradient(#00000051, rgba(0, 0, 0, 0.281)) , url('https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  object-fit: cover;
  background-size: cover;
}

.send-btn {
  transition: 0.3s;
}

.send-btn:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.icon {
  width: 3.6em;
  height: 3em;
  margin-right: 0.3em;
  animation: upDown 5s ease-in-out infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5%);
  }

  75% {
    transform: translateY(5%);
  }
}

.icon:hover {
  animation: pulse 1s ease-out;
  animation-fill-mode: forwards;
  filter: brightness(150%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform:  scale(1.1);
  }

  75% {
    transform:  scale(1.05);
  }

  100% {
    transform:  scale(1);
  }
}

.icon:nth-of-type(1) {
  animation-delay: 0s;
}

.icon:nth-of-type(2) {
  animation-delay: 0.5s;
}

.icon:nth-of-type(3) {
  animation-delay: 1s;
}

.icon:nth-of-type(4) {
  animation-delay: 2.5s;
}

.icon:nth-of-type(5) {
  animation-delay: 0.2s;
}

.icon:nth-of-type(6) {
  animation-delay: 0.5s;
}

.icon:nth-of-type(7) {
  animation-delay: 1.5s;
}

.icon:nth-of-type(8) {
  animation-delay: 2s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.jump {
  display: inline-block;
  animation: jump 0.4s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateX(10px) rotate(10deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation: wave 0.4s ease-in-out infinite alternate;
}

.stop {
  animation: none !important;
}

@media only screen and (max-width: 1023px) {
  
  nav {
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
  }

  .hero h1, .hero h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .technologies {
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
}